<header>
  <img
    src="assets/img/profile.jpeg"
    alt="Danilo Sampaio - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Danilo Sampaio</h1>
</header>

<aside>
  <div class="contaimer">
    <p></p>
    <p></p>
    <p></p>
    <nav>
      <ul>
        <li>
          <a href="assets/pdf/danilo-brito.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
          <a href="https://www.linkedin.com/in/d-sampaio" target="_blank" class="btn btn-secondary">
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.jpg"
          alt="Icone para contato do whatsApp"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=5517999765304&text=Ol%c3%A1%20Danilo"
            target="_blank">
            <strong>Envie uma mensagem para:</strong>
            <p>whatsApp: (17) 9 9976-5304</p>
          </a>
        </figcaption>
      </figure>
      <figure>
        <img
          src="assets/icons/gmail.png"
          alt="Icone para contato do e-mail"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a href="mailto:danilosampaio872@gmail.com"
            target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>danilosampaio872&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
